*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
li{
    list-style: none;
    padding: 8px;
}
.head-line{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px; 
}
.description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.primary-btn{
    width: 160px;
    height: 64px;
    margin-top: 32px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;

}
.container{
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}
/* Banner section */

.banner{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    
}
.container-cta{
    width: 40%;
    text-align: right;

}
.banner-container{
    display: flex;
    justify-content: end;
}
/* failure section */

.fail-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 131px;
}
.list-item{
    width: 30%;
}
.list-head{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}
.list-dsc{
    padding-bottom: 16px;
}

/*Plans Section */

.plan-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}
.plan-container{
    margin: 65px auto;
}
.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}
.plan-content{
    padding: 5px;
}
.plan-headline{
    font-weight: 700;
    font-size: 30px;
}
.plan-dsc{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
/* call to action */

.cta{
    background-image: url(../images/watch.png), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    width: 60%;
    margin: 30px auto;
    border-radius: 8px;
}
.cta-title{
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF
}
.cta-content{
    padding: 60px;
    width: 40%;
}

/* footer Section */
footer{
    background-color: #151414;
    height: 50vh;
    color: #FFFFFF;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.foot-1{
    width: 485px;
}
.foot-2{ 
    width: 325px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    padding: 10px;

}
.footer-dsc{
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
}
.sub{
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}
.email{
    width: 325px;
    height: 64px;
    background-color: #151414;
    border-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
}
.sub-btn{
    width: 160px;
    height: 64px;
    background: #005FAC;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}